server {
    listen ${SERVER_PORT};
    listen [::]:${SERVER_PORT};
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    add_header X-App-Mode "${APP_MODE}" always;

    location / {
        try_files $uri $uri/ =404;
    }
}
